/* 自定义各级标题的样式 */
h1 {
    /* font-size: 2.5em !important; */
    color: #034732 !important;
    /* #22b5af !important;  */
    font-weight: bold !important;
    border-bottom: 2px solid #169b96;
    padding-bottom: 10px;
}

body[data-md-color-media="(prefers-color-scheme: dark)"] h1 {
    color: #235D3A !important; 
    
    border-bottom: 2px solid #397D54;
}

h2 {
    font-weight: bold !important;
    color: #008148 ;
    /* #3fc4bf;  */
    padding-bottom: 5px;
}

body[data-md-color-media="(prefers-color-scheme: dark)"] h2 {
    color: #397D54; 
}

h3 {
    color: #a0ced9;
    /* #b5ffe9; */
    /* #ceeddb; */
    /* #96e8bc; */
    /* #63d1d0;  */
    padding-bottom: 3px;
}

body[data-md-color-media="(prefers-color-scheme: dark)"] h3 {
    color: #50ae76; 
}

h4 {
    color: #2a628f;
    /* #004ba8; */
    /* #95e6eb;  */
    padding-bottom: 2px;
}

body[data-md-color-media="(prefers-color-scheme: dark)"] h4 {
    color: #61c187; 
}

/* 自定义信息框的样式 */
.info-box {
    border: 1px solid #73C0BB; /* 蓝色边框 */
    background-color: #E3F2FD; /* 浅蓝色背景 */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.warning-box {
    border: 1px solid #FFC107; /* 黄色边框 */
    background-color: #FFF8E1; /* 浅黄色背景 */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}